.btn{
    cursor: pointer;
    border-radius: 0;
    box-sizing: border-box;
}


.main-btn {
	position: relative;

    list-style: 0;

    display: flex;
    align-items: center;

    border-radius: 0.5em;
    border: none;
    background: #316AB1;
	color: #F8FFFF;
	overflow: hidden;

    font-size: 1.2em;

    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

    padding: 0.7em 2.5em 0.7em 2.5em;

    box-shadow: 0 0 0.3em #1e1e1e;

    &:hover {
        background: #2f71c2;
        color: #FFFFFF;
    }

    &.arrow{
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        svg{
            position: absolute;
            left: 130%;
            top: 0;
            height: 100%;
            font-size: 125%;
            line-height: 3.5;
            color: #333;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        &:hover svg {
            left: 85%;
        }
    }
}


.see-more-btn{
    background: #F8FFFF;
    box-shadow: 0 0 0.4em #1e1e1e;
    padding: 0.5em;

    border-radius: 0.5em;

    font-size: 0.8;

    &:hover{
        background: #c2ffff;
    }
}