.btn{
    cursor: pointer;
    border-radius: 0;
    box-sizing: border-box;
}


.main-btn {
	position: relative;

    list-style: 0;

    display: flex;
    align-items: center;

    border-radius: 0.5em;
    border: none;
    background: #316AB1;
	color: #F8FFFF;
	overflow: hidden;

    font-size: 1.2em;

    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

    padding: 0.7em 2.5em 0.7em 2.5em;

    box-shadow: 0 0 0.3em #1e1e1e;

    &:hover {
        background: #2f71c2;
        color: #FFFFFF;
    }

    &.arrow{
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        svg{
            position: absolute;
            left: 130%;
            top: 0;
            height: 100%;
            font-size: 125%;
            line-height: 3.5;
            color: #333;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        &:hover svg {
            left: 85%;
        }
    }
}

.pokemon-btn{
    position: relative;
    width: 100%;
    height: 55%;


    display: flex;
    justify-content: center;
    align-items: center;

    .pokemon-img{
        height: 115%;
        z-index: 2;
    }

    .pokemon-shadow{
        position: absolute;
        z-index: 1;

        width: 65%;
        height: 15%;
        border-radius: 100%;

        background: rgba(0, 0, 0, 0.15);
        bottom: -5%;

    }
}


.see-more-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #FFDA27;
    border-radius: 100%;
    border: 0.3em solid #1e1e1e;

    width: 2.5em;
    height: 2.5em;

    z-index: 99;

    .line{
        background: #1e1e1e;

        &#horizontal{
            width: 1.5em;
            height: 0.3em;       
        }

        &#vertical{
            width: 0.3em;
            height: 1.5em;
        }

    }

    &:hover > .see-more-btn-description{
        display: block;
    }

    .see-more-btn-description{
        display: none;
        cursor: default;

        position: absolute;
        width: max-content;
        padding: 0.25em;
        top: -2.5em;

        background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255,255, 255, 0.1));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

        &.hover{
            display: block;
        }
    }
}


.submit-btn{
    position: relative;

    list-style: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5em;
    border: none;
    background: #316AB1;
	color: #F8FFFF;
	overflow: hidden;
    font-family: 'Arboria Medium';

    font-size: 1.2em;
    box-shadow: 0 0 0.3em #1e1e1e;

    padding: 0.5em;

    transition: all 0.3s;

    &:hover {
        background: #2f71c2;
    }
}


.forgot-btn{
    text-align: center;

    &:hover{
        text-decoration: underline;
    }
}