header{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .fictive-element{
        width: 3em;
        height: 3em;
    }


    .title-section{
        position: relative;
        width: calc(30vh + 15vw);

        h1{
            position: absolute;
            bottom: -5vh;

            width: 100%;

            img{
                width: 100%;
            }
        }
    }


    .nav-section{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        #nav-btn{
            img{
                width: 3em;
            }
        }

        nav{
            display: none;

            &.active{
                display: block;
            }

            top: 4em;

            width: 15em;
            position: absolute;

            border: 0.25em solid #0F1014;

            background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255,255, 255, 0.2));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5em;

                padding: 0.5em;

                li{
                    width: 100%;
                    padding: 0.5em;

                    text-align: center;
                    font-weight: bold;
                    

                    &:hover{
                        background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255,255, 255, 0.6));
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                    }
                }
            }
        }
    }
}