.pokemon-wrapper {
  display: grid;
  grid-template-columns: 30% 40% 25%;
  grid-template-rows: 100%;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.pokemon-wrapper section {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5vh;
}
.pokemon-wrapper .left {
  gap: 1.5em;
  padding-left: 0.2em;
}
.pokemon-wrapper .left .name-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.3em;
  font-size: 3em;
}
.pokemon-wrapper .left .name-container .name {
  font-weight: bold;
}
.pokemon-wrapper .left .name-container .name-decoration {
  position: relative;
  bottom: 0.22em;
  height: 0.2em;
  width: 1em;
  background: #E13319;
}
.pokemon-wrapper .left .types-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: -moz-max-content;
  width: max-content;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.inactive {
  display: none;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.active {
  cursor: default;
  position: absolute;
  top: 5vh;
  left: 50%;
  margin-left: -20vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.25em solid #110F14;
  padding: 0.5em;
  max-height: 80%;
  width: 40vw;
  overflow-y: auto;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.active .table-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em 0 0.5em;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.active .table-header .fictive-element {
  height: 1em;
  width: 1em;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.active .table-header .caption {
  padding: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #316AB1;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.active .table-header .close-btn {
  height: 1em;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.active .table-header .close-btn:hover {
  transform: scale(1.1);
}
.pokemon-wrapper .left .types-container #move-btn .moves-container.active .table-header .close-btn img {
  height: 100%;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container table {
  border-collapse: collapse;
  border: 0.1em solid #110F14;
  font-size: 0.8em;
  color: #110F14;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container table thead {
  font-weight: bold;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container table th {
  font-weight: bold;
}
.pokemon-wrapper .left .types-container #move-btn .moves-container table td, .pokemon-wrapper .left .types-container #move-btn .moves-container table th {
  padding: 0.5em;
  border: 0.1em solid #110F14;
}
.pokemon-wrapper .left .description {
  font-size: 1.1em;
}
.pokemon-wrapper .left .fictive-element {
  height: 2em;
}
.pokemon-wrapper .middle {
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding-left: 1em;
}
.pokemon-wrapper .middle .image-and-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20%;
  height: 50%;
  width: 100%;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper {
  position: relative;
  height: 100%;
  width: 10%;
  margin-top: 10%;
  padding-left: 5%;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .line {
  position: relative;
  background: #110F14;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .line.horizontal {
  height: 0.1rem;
  width: calc(100% - 0.8rem);
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .line.vertical {
  height: 100%;
  width: 0.1rem;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .circle {
  width: 0.8rem;
  height: 0.8rem;
  background: #E13319;
  border-radius: 100%;
  border: 0.15rem solid #F8FFFF;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .top {
  top: -0.4rem;
  position: absolute;
  width: 300%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .stats-center {
  height: 100%;
  display: flex;
  align-items: center;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .stats-center .height {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  transform: rotate(-90deg);
  left: -3em;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .bottom {
  position: absolute;
  bottom: -0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .bottom .shapes-container {
  width: 150%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pokemon-wrapper .middle .image-and-stats-container .stats-wrapper .stats-container .bottom .weight {
  bottom: -1.5em;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
}
.pokemon-wrapper .middle .image-and-stats-container .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}
.pokemon-wrapper .middle .image-and-stats-container .image-container img {
  height: 100%;
  max-width: 100%;
  max-height: auto;
  z-index: 99;
}
.pokemon-wrapper .middle .image-and-stats-container .image-container .shadow {
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 10%;
  border-radius: 100%;
  background: #E8C310;
}
.pokemon-wrapper .middle .toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.pokemon-wrapper .middle .toggle-container input {
  display: none;
}
.pokemon-wrapper .middle .toggle-container input:checked ~ label {
  border: 0.2em solid #110F14;
}
.pokemon-wrapper .middle .toggle-container label {
  padding: 0.5em;
  color: #F8FFFF;
  font-size: 2.5vh;
  background: #E13319;
  border-radius: 0.3em;
}
.pokemon-wrapper .middle .toggle-container label:hover {
  background: #ee462c;
}
.pokemon-wrapper .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 100%;
}
.pokemon-wrapper .right .evolutions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.5em;
  width: 10%;
  height: 100%;
}
.pokemon-wrapper .right .evolutions-section .evolution-line {
  position: relative;
  display: inline-block;
  width: 0.1em;
  height: 20em;
  background: #110F14;
}
.pokemon-wrapper .right .evolutions-section .evolutions {
  font-family: "Arboria Light";
  line-height: 1;
  font-weight: bold;
  font-size: 1.5em;
  transform: rotate(-90deg);
}
.pokemon-wrapper .right .carousel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  height: 100%;
  width: 80%;
}
.pokemon-wrapper .right .carousel .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-top: 0.4em;
  width: 70%;
  height: 100%;
}
.pokemon-wrapper .right .carousel .images .img-evolution {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  border-radius: 0.4em;
  padding: 1em 0 1em 0;
  box-shadow: 0 0 0.2em #1e1e1e;
}
.pokemon-wrapper .right .carousel .images .img-evolution .img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon-wrapper .right .carousel .images .img-evolution .img-wrapper:hover .level {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-wrapper .right .carousel .images .img-evolution .img-wrapper .level {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: calc(100% + 2em);
  border-radius: 0.4em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.2em;
  text-align: center;
}
.pokemon-wrapper .right .carousel .images .img-evolution .img-wrapper img {
  position: absolute;
  height: 100%;
}
.pokemon-wrapper .right .carousel .images .img-evolution.active {
  background: #316AB1;
  transform: scale(1.1);
}
.pokemon-wrapper .right .carousel .images .img-evolution.inactive {
  background: #F8FFFF;
}
.pokemon-wrapper .right .carousel .arrows {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.pokemon-wrapper .right .carousel .arrows .arrow img {
  width: 100%;
}
.pokemon-wrapper .right .carousel .arrows .arrow.down {
  transform: rotate(180deg);
}

@media screen and (max-width: 1300px) {
  .pokemon-wrapper {
    grid-template-columns: 48% 48%;
    grid-template-rows: 50% 50%;
  }
  .left .types-container {
    display: flex;
    flex-direction: row;
    background: green;
  }
  .middle .image-and-stats-container {
    margin-top: 0;
  }
  .right {
    background: red;
    flex-direction: column;
    width: 100%;
  }
}/*# sourceMappingURL=pokemon.css.map */