@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://db.onlinewebfonts.com/c/dda65d7f418f4ab23abf484c807c9f17?family=Arboria-Medium");
@font-face {
  font-family: "Pokemon Title Hollow";
  src: url(/ressources/fonts/pokemon-title-hollow.ttf);
}
@font-face {
  font-family: "Pokemon Title Solid";
  src: url(/ressources/fonts/pokemon-title-solid.ttf);
}
@font-face {
  font-family: "Pokemon Body";
  src: url(/ressources/fonts/pokemon-body.ttf);
}
body {
  background: #316AB1;
  font-family: "Arboria-Medium";
  color: #0F1014;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10vh 15vw;
  position: relative;
  overflow: hidden;
}
body .page-container {
  background: #FFDA27;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em 1em 2em;
  box-shadow: 0 0 2em #1e1e1e;
}
body .page-container main {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2em;
}
header .fictive-element {
  width: 3vw;
  height: 3vw;
}
header .title-section {
  position: relative;
  width: calc(30vh + 15vw);
}
header .title-section h1 {
  position: absolute;
  bottom: -1vh;
  width: 100%;
}
header .title-section h1 img {
  width: 100%;
}
header .nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
header .nav-section #nav-btn img {
  width: 3vw;
}
header .nav-section nav {
  display: none;
  top: 4em;
  width: 15em;
  position: absolute;
  border: 0.25em solid #0F1014;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
header .nav-section nav.active {
  display: block;
}
header .nav-section nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  padding: 0.5em;
}
header .nav-section nav ul li {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 0.3em;
}
header .nav-section nav ul li:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.btn {
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
}

.blob {
  position: absolute;
  z-index: -99;
  width: 20em;
}
.blob#yellow-blob {
  top: -10vh;
  left: 75vw;
}
.blob#red-blob {
  bottom: -7vh;
  left: 15vw;
}

.line {
  position: absolute;
  z-index: -99;
  height: 40vh;
}
.line#top {
  left: 6vw;
  top: 0;
}
.line#bottom {
  right: 6vw;
  bottom: 0;
}

::-webkit-scrollbar {
  position: absolute;
  width: 0.25em;
}

::-webkit-scrollbar-track {
  background: #F8D426;
}

::-webkit-scrollbar-thumb {
  background: #0F0400;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

main {
  flex: 1;
  overflow-y: scroll;
}

.fictive-element {
  display: block;
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */