@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Arboria Medium";
  src: url(/ressources/fonts/Arboria-Medium.ttf);
}
@font-face {
  font-family: "Abroria Bold";
  src: url(/ressources/fonts/Arboria-Bold.ttf);
}
@font-face {
  font-family: "Arboria Light";
  src: url(/ressources/fonts/Arboria-Light.ttf);
}
@font-face {
  font-family: "Pokemon Title Hollow";
  src: url(/ressources/fonts/pokemon-title-hollow.ttf);
}
@font-face {
  font-family: "Pokemon Title Solid";
  src: url(/ressources/fonts/pokemon-title-solid.ttf);
}
@font-face {
  font-family: "Pokemon Body";
  src: url(/ressources/fonts/pokemon-body.ttf);
}
body {
  background: #316AB1;
  font-family: "Arboria Medium";
  color: #110F14;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10vh 15vw;
  position: relative;
  overflow: hidden;
}
body .page-container {
  background: #FFDA27;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em 1em 2em;
  box-shadow: 0 0 2em #1e1e1e;
}
body .page-container main {
  position: relative;
  z-index: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .fictive-element {
  width: 3vw;
  height: 3vw;
}
header .title-section {
  position: relative;
  width: calc(30vh + 15vw);
}
header .title-section h1 {
  position: absolute;
  bottom: -1vh;
  width: 100%;
}
header .title-section h1 img {
  width: 100%;
}
header .nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
header .nav-section #nav-btn img {
  width: 3vw;
  min-width: 3em;
}
header .nav-section nav {
  display: none;
  top: 3.5vw;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  border: 0.25em solid #0F1014;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
header .nav-section nav.active {
  display: block;
}
header .nav-section nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  padding: 0.5em;
}
header .nav-section nav ul li {
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 1.2em;
}
header .nav-section nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
}
header .nav-section nav ul li a:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.btn {
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
}

.main-btn {
  position: relative;
  list-style: 0;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  border: none;
  background: #316AB1;
  color: #F8FFFF;
  overflow: hidden;
  font-size: 1.2em;
  transition: all 0.3s;
  padding: 0.7em 2.5em 0.7em 2.5em;
  box-shadow: 0 0 0.3em #1e1e1e;
}
.main-btn:hover {
  background: #2f71c2;
  color: #FFFFFF;
}
.main-btn.arrow:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.main-btn.arrow svg {
  position: absolute;
  left: 130%;
  top: 0;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #333;
  transition: all 0.3s;
}
.main-btn.arrow:hover svg {
  left: 85%;
}

.pokemon-btn {
  position: relative;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-btn .pokemon-img {
  height: 115%;
  z-index: 2;
}
.pokemon-btn .pokemon-shadow {
  position: absolute;
  z-index: 1;
  width: 65%;
  height: 15%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.15);
  bottom: -5%;
}

.see-more-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFDA27;
  border-radius: 100%;
  border: 0.3em solid #1e1e1e;
  width: 2.5em;
  height: 2.5em;
  z-index: 99;
}
.see-more-btn .line {
  background: #1e1e1e;
}
.see-more-btn .line#horizontal {
  width: 1.5em;
  height: 0.3em;
}
.see-more-btn .line#vertical {
  width: 0.3em;
  height: 1.5em;
}
.see-more-btn:hover > .see-more-btn-description {
  display: block;
}
.see-more-btn .see-more-btn-description {
  display: none;
  cursor: default;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 0.25em;
  top: -2.5em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.see-more-btn .see-more-btn-description.hover {
  display: block;
}

.submit-btn {
  position: relative;
  list-style: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  border: none;
  background: #316AB1;
  color: #F8FFFF;
  overflow: hidden;
  font-family: "Arboria Medium";
  font-size: 1.2em;
  box-shadow: 0 0 0.3em #1e1e1e;
  padding: 0.5em;
  transition: all 0.3s;
}
.submit-btn:hover {
  background: #2f71c2;
}

.forgot-btn {
  text-align: center;
}
.forgot-btn:hover {
  text-decoration: underline;
}

.blob {
  position: absolute;
  z-index: -99;
  width: 20em;
}
.blob#yellow-blob {
  top: -10vh;
  left: 75vw;
}
.blob#red-blob {
  bottom: -7vh;
  left: 15vw;
}

.line {
  position: absolute;
  z-index: -99;
  height: 40vh;
}
.line#top {
  left: 6vw;
  top: 0;
}
.line#bottom {
  right: 6vw;
  bottom: 0;
}

::-webkit-scrollbar {
  position: absolute;
  width: 0.25em;
}

::-webkit-scrollbar-track {
  background: #F8D426;
}

::-webkit-scrollbar-thumb {
  background: #0F0400;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

.pokedex-wrapper {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  row-gap: 2em;
  justify-content: space-around;
}

@media screen and (max-width: 1300px) {
  .pokedex-wrapper {
    grid-template-columns: 27% 27% 27%;
  }
}
@media screen and (max-width: 970px) {
  .pokedex-wrapper {
    grid-template-columns: 40% 40%;
  }
}
@media screen and (max-width: 765px) {
  .pokedex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
}
.pokemon-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 13vw;
  min-height: 18em;
  height: 33vh;
  max-height: 20em;
  overflow: hidden;
  background: url("/ressources/images/grass.png");
  border-radius: 0.5em;
  box-shadow: #1e1e1e 0.1em 0.1em 0.8em;
}
.pokemon-card .card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100% 100% 0 0;
  border: 0.3em solid #1e1e1e;
  border-bottom: none;
  position: relative;
  width: 110%;
  height: 35%;
  background: #99CDB1;
}
.pokemon-card .card-bottom .pokemon-name {
  font-weight: bold;
  text-align: center;
  font-size: 1.9vw;
  width: 100%;
  margin-top: 0.5em;
}
.pokemon-card .card-bottom .see-more-btn {
  position: absolute;
  top: -1.25em;
  z-index: 3;
}
.pokemon-card .card-bottom .dresseur-stats-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
.pokemon-card .card-bottom .dresseur-stats-container .dresseur-stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  cursor: default;
}
.pokemon-card .card-bottom .dresseur-stats-container .dresseur-stat img {
  height: 1.5em;
}
.pokemon-card .card-bottom .dresseur-stats-container .dresseur-stat:hover > .stat .stat-description {
  display: block;
}
.pokemon-card .card-bottom .dresseur-stats-container .dresseur-stat .stat {
  position: relative;
  margin-bottom: 0.15em;
  font-size: 1.2em;
  font-weight: bold;
}
.pokemon-card .card-bottom .dresseur-stats-container .dresseur-stat .stat .stat-description {
  z-index: 99;
  display: none;
  cursor: default;
  font-size: 1rem;
  font-weight: normal;
  color: #110F14;
  text-align: center;
  position: absolute;
  width: -moz-min-content;
  width: min-content;
  padding: 0.25em;
  bottom: 2em;
  left: -2.7em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.37);
}
.pokemon-card .card-bottom .dresseur-stats-container .dresseur-stat .stat .stat-description.hover {
  display: block;
}

@media screen and (max-width: 1300px) {
  .pokemon-card {
    width: 18vw;
  }
  .pokemon-card .card-bottom .pokemon-name {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 970px) {
  .pokemon-card {
    width: 22vw;
  }
  .pokemon-card .card-bottom .pokemon-name {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 765px) {
  .pokemon-card {
    width: 30vw;
  }
  .pokemon-card .card-bottom .pokemon-name {
    font-size: 4.3vw;
  }
}
.type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: #316AB1;
  box-shadow: 0.1em 0.1em 0.2em #1e1e1e;
  font-size: 1.2em;
  color: #F8FFFF;
}
.type img {
  position: relative;
  height: 1em;
  top: 0.05em;
}

.fictive-element {
  display: block;
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */